@import '../../common/scss/common';
.loginWrap {
  width: 100%;
  height: 100%;
  background: #ccc;
  position: absolute;
  background-color: #00917D;
  .loginBox{
    text-align: center;
  }
  .msLogin {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: auto;
    transform: translate(-50%, -50%);
    padding: 0px 40px 40px 40px;
    border-radius: 5px;
    color: #646464;
    // background-color: #20897A;
    overflow: hidden;
    .msTitle {
      font-size: 20px;
      color: #ffffff;
      padding-bottom: 18px;
      margin-top: 40px;
    }
    .login-btn {
      text-align: center;
      .loginBtn {
        width: 100%;
        height: 36px;
        color: $mainColor;
      }
    }
    img {
      float: right;
      margin-top: 2px;
    }
  }
}