@import '../../../common/scss/common';
@import '../../../common/scss/mixin';
.mileage {
  .allWrapper {
    padding: 5px 20px 0px 20px;
    .searchCondition {
      overflow: hidden;
      .searchBox{
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .element {
        float: left;
        margin-right: 15px;
        .moreIcon{
          @include extend_click();
        }
        p {
          margin-bottom: 10px;
          margin-top: 10px;
        }
        &:last-child{
          margin-right: 0px;
        }
        .iconTransform{
          transform: rotate(180deg);
          -moz-transform:rotate(180deg);
          -webkit-transform:rotate(180deg);
          -o-transform:rotate(180deg);
          -ms-transform:rotate(180deg);
        }
      }
    }
  }
}
