@import '~common/scss/common';
@import '~common/scss/mixin';
.detail {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  .contentTextForRow{
    padding: 12px 0;
    .contentTextL{
      display: inline-block;
      vertical-align: top;
    }
    .contentTextR{
      padding-left: 50px;
      display: inline-block;
    }
  }
  .infoBox{
    border-bottom: 1px solid $tableLineColor;
    padding-bottom: 6px;
    .title{
      font-size: $font-size-ml;
      height: $detailTitleHeight;
      line-height: $detailTitleHeight;
      font-weight: bold;
      border-bottom: 1px solid $tableLineColor;
      color: $borderLineColor;
      padding-left: 10px;
    }
    .contentTextForRow{
      padding: 12px 0;
      .contentTextL{
        display: inline-block;
        vertical-align: top;
      }
      .contentTextR{
        padding-left: 50px;
        display: inline-block;
      }
    }
    .contentText{
      padding: 12px 20px 12px 10px;
      overflow: hidden;
      .lineText{
        overflow: hidden;
        position: relative;
        font-size: $font-size-m;
        padding: 8px 0;
        .inforeditor {
          position: absolute;
          left: 600px;
          top: 8px;
        }
        .label{
          float: left;
          width: 110px;
          color: $textColor;
        }
        .value{
          float: left;
          color: $tableTextColor;
          margin-left: 10px;
        }
        a{
          color: blue;
          cursor: pointer;
        }
      }
    }
  }
  // z-index: 4;
  .allWrapper{
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: $breadcrumbHeight;
    bottom: 40px;
  }
  .element {
    text-align: left;
    padding-top: 10px;
    &:last-child {
      padding-bottom: 10px;
    }
  }
  .imggroup {
    img {
      width: 120px;
      height: auto;
    }
  }
  .dialogFooter{
    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid $tableLineColor;
  }
}
.fl{
  float: left;
}
.audit{
  width: 200px;
  height: 20px;
  box-sizing: border-box;
  margin-left: 15px;
}
.audit .el-input__inner{
  height: 30px;
}
.inline-textarea{
  padding-top: 20px;
  height: 100px;
  width: 210px;
  resize: none
}
.el-checkbox, .el-checkbox__input{
  white-space: inherit;
}
.moneyInput{
  width: 60px;
}
