.width10{
  width: 10px;
}
.width20{
  width: 20px;
}
.width30{
  width: 30px;
}
.width40{
  width: 40px;
}
.width50{
  width: 50px;
}
.width60{
  width: 60px;
}
.width70{
  width: 70px;
}
.width80{
  width: 80px;
}
.width90{
  width: 90px;
}
.width100{
  width: 100px;
}
.width110{
  width: 110px;
}
.width120{
  width: 120px;
}
.width130{
  width: 130px;
}
.width134{
  width: 134px;
}
.width140{
  width: 140px;
}
.width150{
  width: 150px;
}
.width160{
  width: 160px;
}
.width180{
  width: 180px;
}
.width190{
  width: 190px;
}
.width200{
  width: 200px;
}
.width204{
  width: 204px;
}
.width210{
  width: 210px;
}
.width230{
  width: 230px;
}
.width240{
  width: 240px;
}
.hidden{
  overflow: hidden;
}
.mtb18{
  margin-top: 18px;
  margin-bottom: 10px;
}
.mtb10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.mb20{
  margin-bottom: 20px;
}
// margin左
.ml5{
  margin-left: 5px;
}
.ml10{
  margin-left: 10px;
}
.ml20{
  margin-left: 20px;
}
// margin右
.mr3{
  margin-right: 3px;
}
.mr20{
  margin-right: 20px;
}
.mr40{
  margin-right: 40px;
}
.mr60{
  margin-right: 60px;
}
// margin上
.mt10{
  margin-top: 10px;
}
.mt24{
  margin-top: 24px;
}
.mt42{
  margin-top: 43px;
}
.mt52{
  margin-top: 52px;
}
.mt66{
  margin-top: 66px;
}
.mt82{
  margin-top: 82px;
}
// padding上
.pdt42{
  padding-bottom: 42px;
}
$tableLineColor: #efefef;
$tableTextColor: #5a5e66;
$tableTheadColor: #029E8A;
$borderLineColor: #007566;
$menuHoverColor: #048473;
$menuColor:#ffffff;
$borderColor:#ffffff;
$borderColor2:#069F8B;
$mainColor:#00917e;
$colorBtnHover:#02A08B;
$textColor: #323232;
$textColor-t: #646464;
.colorGray {
  color: #646464;
}
// 字体大小
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-ml: 15px;
$font-size-l: 16px;
$font-size-ll: 18px;
$font-size-lll: 20px;
.fontSizeS{
  font-size: 12px;
}
.fontSizeM{
  font-size: 14px;
  .editImgInput{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}
// 宽度
$sidebarWidth: 190px;
$content-min-width: 780px;
// 高度
$detailTitleHeight: 40px;
$detailLineTextHeight: 30px;
$breadcrumbHeight: 40px;
// 编辑图片按钮
.editImg{
  position: relative;
}
// 按钮
.btn {
  background-color: $mainColor !important;
  color: #ffffff !important;
  &:hover {
    color: #ffffff !important;
    background-color: $colorBtnHover !important;
  }
  &:active {
    color: #ffffff !important;
    background-color: $menuHoverColor !important;
  }
}
.mainColor{
  color: #00917e;
}
.left{
  float: left;
}
.right{
  float: right;
}
.textLeft{
  text-align: left;
}
.ellipsis{
  overflow: hidden;  /*溢出隐藏*/
  text-overflow: ellipsis; /*以省略号...显示*/
  white-space: nowrap;  /*强制不换行*/
}
.lines{
  white-space: pre-wrap;
}
.inline{
  display: inline-block;
}
.colorWhite{
  color: #ffffff;
}
.pointer{
  cursor: pointer;
}
.clear{
  clear: both;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
    opacity: 0
}
// 覆盖弹窗层级样式
.el-dialog{
  z-index: 2002
}
// 修改页面elementUI样式
.el-breadcrumb {
  font-size: 13px !important;
}

.el-breadcrumb__inner {
  font-weight: normal !important;
}

.borderTopParent {
  .el-submenu__title {
    .titleText {
      color: #fff;
    }
    i {
      color: #fff;
    }
  }
}
// dialog element
$dialogPadding: 20px;
.el-dialog__header{
  padding: 0px $dialogPadding;
  border-bottom: 1px solid $tableLineColor;
  .el-dialog__title{
    height: 40px;
    line-height: 40px;
    font-weight: bold;
  }
}
.el-dialog__title{
  display: block;
  font-size: $font-size-ll;
}
.el-dialog__body{
  padding: 0px 0px 0 $dialogPadding;
}
.el-dialog__footer{
  border-top: 1px solid $tableLineColor;
}

thead tr {
  background-color: $tableTheadColor !important;
  color: #ffffff;
}
.el-table{
  font-family: '微软雅黑';
}
.el-table th {
  padding: 8px 0;
  text-align: center;
}
.el-table td{
  padding: 4px 0;
  text-align: center;
}
.el-table th>.cell{
  text-align: center !important;
}
.el-pager {
  li {
    &.active {
      border-color: $mainColor !important;
      background-color: $mainColor !important;
      color: #fff !important;
    }
  }
}

.el-select-dropdown__item {
  padding: 0px 10px !important;
  height: 28px !important;
  line-height: 28px !important;
  &.selected {
    background-color: $mainColor !important;
    color: #fff !important;
  }
  span {
    height: 26px !important;
    line-height: 30px !important;
  }
}

.el-button--mini {
  padding: 4px 10px !important;
}

.loginWrap {
  .el-form-item {
    margin-bottom: 18px !important;
  }
  .el-input__inner {
    height: 32px !important;
  }
}

table .el-button {
  border: none;
}

.el-dialog {
  box-shadow: none!important;
}

.el-dialog__footer {
  text-align: center;
}

.el-dialog--center .el-dialog__header{
  padding-top: 15px;
}

.el-dialog--center .el-dialog__body{
  padding: 15px 20px;
}

.el-dialog--center .el-dialog__footer{
  padding-bottom: 15px;
}
.el-message-box{
  width: 300px;
}
.el-input__inner{
  height: 35px;
}
.searchCondition .formClass .el-form-item .el-form-item__label{
  line-height: 30px;
}
.searchCondition .formClass .el-form-item .el-form-item__content{
  line-height: 30px;
}
