.width60{
  width: 60px;
}
.width80{
  width: 80px;
}
.width100{
  width: 100px;
}
.width120{
  width: 120px;
}
.width140{
  width: 140px;
}
.width160{
  width: 160px;
}
.width180{
  width: 180px;
}
.width200{
  width: 200px;
}
.width204{
  width: 204px;
}
.width210{
  width: 210px;
}