<<<<<<< HEAD
.zsfComCalculation{
    width: 100%;
}
=======
#people{
  color:#3F88CC
}
#protect{
  color:#3F88CC
}
.message{
  height:200px;
  width:200px;
  border:1px solid black
}
//.el-message-box__title{
//  text-align: center;
//}
//.el-message-box__btns{
//  text-align: center;
//}
.el-dialog__wrapper{
  width:1000px;
  //height:00px;
  margin:30px auto;
}
.dialog-div{
  text-align: left;
  padding:0 50px;
}
.dialog-div p {
  line-height: 50px;
}
.home .contentWrapper .content .nav{
  width:2000px
}
.bg{
  background-color: lightskyblue;
}
td{
  a{
    cursor: pointer;
  }
}

>>>>>>> 125917bf4b5601d730a77bc758642714292abb3c
