// 颜色定义规范
$color-white = #ffffff
$color-background = #f5f5f5
$color-background-m = rgba(0, 0, 0, 0.1)
$color-background-d = rgba(0, 0, 0, 0.3)
$color-background-l = rgba(0, 0, 0, 0.5)
$color-menu-background = $color-white
$color-searchBox-background = $color-white
$color-breadcrumb-background = $color-white
$color-pagination-background = $color-white
$color-highlight-background = #333
$color-dialog-background = #666
$color-button-background = #dddddd
$color-theme = #008371
$color-theme-l = #14ac98
$color-theme-line = rgba(0, 100, 90, 0.3)
$color-theme-click = rgba(0, 145, 126, 0.5)
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text-white = #ffffff
$color-text = #323232
$color-text-64 = #646464
$color-text-AD = #ADADAD
$color-text-tinge = #ADADAD
$color-text-m = rgba(255, 255, 255, 0.1)
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-text-lll = rgba(255, 255, 255, 0.9)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-l = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

// margin-left
$left = 16px
$left-reduce = 8px
$breadcrumb-height = 40px
$distance-top = 5px

// height
$header-height = 44px
$menu-item-height = 42px

// width
$dialog-width = 24%
.dialog-width
  width 25%
$min-width = 1400px  

// float
.right
  float right
